@{
    ViewBag.Title = "Conceito";
}

<p>
    Esta StartUp tem como objetivo principal fazer com que as outras empresas se consigam destacar no seu mercado de atuação,
    originando assim uma maior receita das mesmas.
</p>

<div>
    <a asp-action="Index">Voltar ao início</a>
</div>
