@{
    ViewBag.Title = "Welcome";
}

<div class="card">
    <div class="card-body text-center bg-light">
        <h1 class="card-title">StartUp</h1>
        <h6 class="card-subtitle mb-2 text-muted">Ficar rico sem trabalho é impossivel!</h6>
    </div>
</div>

<div>
    <a asp-action="Conceito">About Us</a>
</div>
