@model List<Despesa>

@if (Model.Count == 0)
{

    <h1>Ainda sem Despesas...</h1>

}
else
{

@foreach(Despesa p in Model){
    <div class="card">
        <div class="card-body bg-light">
            <p><b>Nome despesa: </b>@p.NomeDespesa</p>
            <p><b>Quantidade: </b>@p.Quantidade</p>
            <p><b>Valor: </b>@p.Valor</p>
            <p><b>Categoria: </b>@p.Categoria</p>
            <p><b>Pago: </b> 
                @if (p.Pago) 
                {
                    @:Sim
                } else {
                    @:Não
                } </p>
        </div>
    </div>
    }
}

<div>
    <a asp-action="NovaDespesa" class="btn btn-primary">Nova Despesa</a>

</div>
